# Database Configuration
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=finscale_db
DB_URL=postgres://user:password@localhost:5432/finscale_db?sslmode=disable

# Keycloak Configuration
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=change_me
KEYCLOAK_DB_NAME=keycloak
CLIENT_SECRET=generate_your_own_secret_here

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password